FILE_LOGGINGS/DFDLSCHEMA.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/" xmlns:fn="http://www.w3.org/2005/xpath-functions" xmlns:ibmDfdlExtn="http://www.ibm.com/dfdl/extensions" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:recSepFieldsFmt="http://www.ibm.com/dfdl/RecordSeparatedFieldFormat">
    <xsd:import namespace="http://www.ibm.com/dfdl/RecordSeparatedFieldFormat" schemaLocation="IBMdefined/RecordSeparatedFieldFormat.xsd"/>
    <xsd:annotation>
		<xsd:appinfo source="http://www.ogf.org/dfdl/">
			<dfdl:format encoding="{$dfdl:encoding}" escapeSchemeRef="" occursCountKind="implicit" ref="recSepFieldsFmt:RecordSeparatedFieldsFormat"/>
		</xsd:appinfo>
	</xsd:annotation>

	<xsd:element ibmSchExtn:docRoot="true" name="DFDLSCHEMA">
		<xsd:complexType>
			<xsd:sequence dfdl:separator="%CR;%LF;%WSP*;" dfdl:terminator="">
				<xsd:element dfdl:initiator="|**|" dfdl:terminator="" maxOccurs="unbounded" name="body">
					<xsd:complexType>
						<xsd:sequence dfdl:separator="|~|" dfdl:terminator="">
							<xsd:element dfdl:initiator="" ibmDfdlExtn:sampleValue="body_value1" name="record_no" type="xsd:string"/>
							<xsd:element ibmDfdlExtn:sampleValue="body_value2" name="application_name" type="xsd:string"/>
							<xsd:element ibmDfdlExtn:sampleValue="body_value3" name="request_id" type="xsd:string"/>
                            <xsd:element ibmDfdlExtn:sampleValue="body_value4" name="flowname_fqn" type="xsd:string"/>
                            <xsd:element ibmDfdlExtn:sampleValue="body_value5" name="channel" type="xsd:string"/>
                            <xsd:element ibmDfdlExtn:sampleValue="body_value6" name="interval" type="xsd:string"/>
                            <xsd:element ibmDfdlExtn:sampleValue="body_value7" name="acc_no" type="xsd:string"/>
                            <xsd:element ibmDfdlExtn:sampleValue="body_value8" name="cust_id" type="xsd:string"/>
                            <xsd:element ibmDfdlExtn:sampleValue="body_value9" name="sif_id" type="xsd:string"/>
                            <xsd:element ibmDfdlExtn:sampleValue="body_value10" name="api_name" type="xsd:string"/>
                            <xsd:element ibmDfdlExtn:sampleValue="body_value11" name="created_date" type="xsd:string"/>
                            <xsd:element ibmDfdlExtn:sampleValue="body_value12" name="created_by" type="xsd:string"/>
                            <xsd:element ibmDfdlExtn:sampleValue="body_value13" name="request" type="xsd:string"/>
                            <xsd:element ibmDfdlExtn:sampleValue="body_value14" name="tp_requet" type="xsd:string"/>
                            <xsd:element ibmDfdlExtn:sampleValue="body_value15" name="tpr_response" type="xsd:string"/>
                            <xsd:element ibmDfdlExtn:sampleValue="body_value16" name="server" type="xsd:string"/>
                            <xsd:element ibmDfdlExtn:sampleValue="body_value17" name="response_time" type="xsd:string"/>
                            <xsd:element ibmDfdlExtn:sampleValue="body_value18" name="error_code" type="xsd:string"/>
                            <xsd:element ibmDfdlExtn:sampleValue="body_value19" name="error_desc" type="xsd:string"/>
                            <xsd:element ibmDfdlExtn:sampleValue="body_value20" name="source" type="xsd:string"/>
                            <xsd:element ibmDfdlExtn:sampleValue="body_value21" name="type" type="xsd:string"/>
                            <xsd:element ibmDfdlExtn:sampleValue="body_value22" name="exception_detailes" type="xsd:string"/>
                            <xsd:element ibmDfdlExtn:sampleValue="body_value23" name="response" type="xsd:string"/>
                            <xsd:element dfdl:outputNewLine="%CR;%LF;" dfdl:terminator="" ibmDfdlExtn:sampleValue="body_value24" name="responce_result" type="xsd:string"/>
                        </xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

</xsd:schema>